<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Pepper Parrot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PaperCalc.styles.css" asp-append-version="true" />

    <!-- Poppins Font - font-family: 'Poppins', sans-serif; weight 400, 600, 700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/multiselect-01/multiselect-01/css/style.css">
    <script src="~/multiselect-01/multiselect-01/js/jquery.min.js"></script>
    <script src="~/multiselect-01/multiselect-01/js/popper.js"></script>
    <script src="~/multiselect-01/multiselect-01/js/bootstrap.min.js"></script>
    <script src="~/multiselect-01/multiselect-01/js/bootstrap-multiselect.js"></script>
    <script src="~/multiselect-01/multiselect-01/js/main.js"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/ParrotIcon.ico">

</head>
<body>
    <div @Html.NoScroll()> <!-- Doesnt allow scrolling on stock pages -->
        <header>

            <nav class="customNav">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/Images/Logo.png" width="200" alt="">
                </a>
                <div id="navLinks">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class='nav-link dropdown-toggle
                               @Html.ActiveClass("/Index") @Html.ActiveClass("/Document") @Html.ActiveClass("/WideFormat") @Html.ActiveClass("/Booklets")
                               ' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                quote
                            </a>
                            <div class="dropdown-menu" style="width: auto;" aria-labelledby="navbarDropdown">
                                <a class="nav-link dropLink dropBorder @Html.ActiveClass("/Index")" asp-page="/Index">SRA3</a>
                                <a class="nav-link dropLink dropBorder @Html.ActiveClass("/Document")" asp-page="/Document">Document</a>
                                <a class="nav-link dropLink dropBorder @Html.ActiveClass("/Booklets")" asp-page="/Booklets">Booklets</a>
                                <a class="nav-link dropLink @Html.ActiveClass("/WideFormat")" asp-page="/WideFormat">Wide Format</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class='nav-link
                               @Html.ActiveClass("/jobs")
                               ' asp-page="/Jobs/Index" id="navbarDropdown" role="button">
                                jobs
                            </a>
                        </li>
                        @{if (Model.GetType().GetProperty("Admin") == null || Model.Admin)
                            {
                                <li class="nav-item dropdown">
                                    <a class='nav-link dropdown-toggle
                                       @Html.ActiveClass("/Stock/Sra3Stock/Index") @Html.ActiveClass("/Stock/DocumentStock/Index")  @Html.ActiveClass("/Stock/LaminationStock/Index") @Html.ActiveClass("/Stock/EpsonStock/Index")
                                       ' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        stock
                                    </a>
                                    <div class='dropdown-menu' style="width: auto;" aria-labelledby="navbarDropdown">
                                        <a class='nav-link dropLink dropBorder @Html.ActiveClass("/Stock/Sra3Stock/Index")' asp-page="/Stock/Sra3Stock/Index">SRA3</a>
                                        <a class='nav-link dropLink dropBorder @Html.ActiveClass("/Stock/DocumentStock/Index")' asp-page="/Stock/DocumentStock/Index">Document</a>
                                        <a class="nav-link dropLink dropBorder @Html.ActiveClass("/Stock/Binding/Index")" asp-page="/Stock/Binding/Index">Binding</a>
                                        <a class='nav-link dropLink dropBorder @Html.ActiveClass("/Stock/EpsonStock/Index")' asp-page="/Stock/EpsonStock/Index">Wide Format</a>
                                        <a class='nav-link dropLink @Html.ActiveClass("/Stock/LaminationStock/Index")' asp-page="/Stock/LaminationStock/Index">Lamination</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class='nav-link @Html.ActiveClass("/Settings/Index")' asp-page="/Settings/Index">settings </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>

        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="text-muted">
            <span id="footerText">
                &copy; 2023 - PaperCalc -
                <a style="color: #6C757D !important; text-decoration: underline;" asp-page="/Login/LogOut">Logout</a>
            </span>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>