@page
@model PaperCalc.Pages.Variable.Size.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Size</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.FormatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.FormatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.XAxis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.XAxis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.YAxis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.YAxis)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Size.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
