@page
@model PaperCalc.Pages.Variable.Size.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Size</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.FormatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.FormatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.XAxis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.XAxis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size.YAxis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.YAxis)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Size?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
