@page
@model PaperCalc.Pages.Stock.AspeosStockCoatings.IndexModel

@{
    ViewData["Title"] = "Aspeos Stock Coatings";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspeosStockCoatings[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspeosStockCoatings[0].NumberOfPapers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspeosStockCoatings[0].AveragePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AspeosStockCoatings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPapers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AveragePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CoatingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CoatingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CoatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
