@page
@model PaperCalc.Pages.Jobs.Sra3.DetailsModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" class="calculationForm">

    <h4 class="calculationTitle">Details</h4>

    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.CuttingCalculation.CutsRequired)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.CuttingCalculation.CutsRequired)
            </h2>
        </div>
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.CuttingCalculation.PerSra3)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.CuttingCalculation.PerSra3)
            </h2>
        </div>
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.CuttingCalculation.SheetsUsed)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.CuttingCalculation.SheetsUsed)
            </h2>
        </div>
    </div>

        <div class="detailsTable">
            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.ClickRate)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.ClickRate)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.CreasingCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.CreasingCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.FoldingCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.FoldingCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.HolePunchesCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.HolePunchesCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.StaplesCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.StaplesCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.PaperCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.PaperCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.ClickCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.ClickCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.MaterialCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.MaterialCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.FinishingCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.FinishingCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.Buffer)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.Buffer)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.Multiplier)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.Multiplier)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.MaterialCharge)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.MaterialCharge)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.LabourCharge)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.LabourCharge)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.TotalCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.TotalCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.FinalCharge)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.FinalCharge)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.FinalJobCost)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.FinalJobCost)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.FinalJobCostWithGst)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.FinalJobCostWithGst)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.CostPerunit)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.CostPerunit)
                </h2>
            </div>

            <div class="detailsTableRow">
                <h1>
                    @Html.DisplayNameFor(model => model.Calculation.Description)
                </h1>
                <h2>
                    @Html.DisplayFor(model => model.Calculation.Description)
                </h2>
            </div>
        </div>

        <a class="btn btn-primary calculationSubmitButton marginAuto" asp-page="../Details" asp-route-id="@Model.Connection.JobId">back to list</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
