@page
@model PaperCalc.Pages.Stock.BindingCovers.NewFolder.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<h1 class="stockTitle">Details</h1>

<div class="stockDetails">
    <h4>Binding Coil Stock</h4>
    <hr />
    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.BindingCoilType)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.BindingCoilType)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.RingsRatio)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.RingsRatio)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.SheetsHeld)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.SheetsHeld)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.CoilSize)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.CoilSize)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.PricePerPack)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.PricePerPack)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.CoilsPerPack)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.CoilsPerPack)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.BindingCoilsStock.PricePerCoil)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.BindingCoilsStock.PricePerCoil)
            </h2>
        </div>
    </div>
</div>
<div class="stockDetailsButtons">
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.BindingCoilsStock?.Id">edit</a>
    <a class="btn btn-primary" asp-page="../Index">back to stock</a>
</div>
