@page
@model PaperCalc.Pages.Jobs.WideFormat.EditModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" class="calculationForm">
    <input type="hidden" asp-for="WideFormatFormInputs.Id" />

    <h4 class="calculationTitle">Edit Wide Format</h4>


    <!-- Paper -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>paper</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>flat size<span class="requiredStar">*</span></label>
                <select class="custom-select" asp-for="WideFormatFormInputs.FlatSizeId">
                    <option value="">select a size...</option>
                    @{
                        foreach (PaperCalc.Models.FlatSize fs in Model.FlatSizes)
                        {
                            <option value="@fs.Id">@fs.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="inputForRow">
                <label>stock<span class="requiredStar">*</span></label>
                <select id="stockSelect" class="custom-select" asp-for="WideFormatFormInputs.StockId">
                    <option value="">select stock...</option>
                    @{
                        foreach (PaperCalc.Models.WideFormatStock item in Model.Paper)
                        {
                            <option value="@item.Id">@item.Weight<span>gsm</span> @item.Supplier @item.StockBrand</option>
                        }
                    }
                </select>
            </div>
            <div class="inputForRow">
            </div>
        </div>
    </div>

    <!-- Printing -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>printing</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>colour<span class="requiredStar">*</span></label>
                <select class="custom-select" asp-for="WideFormatFormInputs.Colour">
                    <option value="">select a option...</option>
                    <option value="true">Colour</option>
                    <option value="false">Black</option>
                </select>
            </div>
            <div class="inputForRow">
            </div>
            <div class="inputForRow">
            </div>
        </div>
    </div>

    <!-- Finishing -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>finishing</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>folds</label>
                <select class="custom-select" asp-for="WideFormatFormInputs.Folds">
                    <option value="0">None</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>cresaing</label>
                <select class="custom-select" asp-for="WideFormatFormInputs.Creases">
                    <option value="0">none</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="inputForRow">
            </div>
        </div>
    </div>

    <!-- Additional Costs -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>additional costs</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>design</label>
                <input placeholder="$00.00" type="text" asp-for="WideFormatFormInputs.DesignCost" />
            </div>
            <div class="inputForRow">
                <label>file handling</label>
                <input type="number" placeholder="$00.00" asp-for="WideFormatFormInputs.FileHandlingCost">
            </div>
            <div class="inputForRow">
                <label>setup</label>
                <input placeholder="$00.00" type="text" asp-for="WideFormatFormInputs.SetupCost" />
            </div>
        </div>
    </div>

    <div class="inputRow">
        <div class="inputRowTitle">
            <h3>quantitys</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>copy quantity<span class="requiredStar">*</span></label>
                <input type="number" placeholder="0" asp-for="WideFormatFormInputs.Quantity">
            </div>
            <div class="inputForRow">
                <label>pages<span class="requiredStar">*</span></label>
                <input type="number" placeholder="0" asp-for="WideFormatFormInputs.Pages">
            </div>
            <div class="inputForRow">
                <label>kinds<span class="requiredStar">*</span></label>
                <input placeholder="1" type="number" asp-for="WideFormatFormInputs.Kinds">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success calculationSubmitButton marginAuto">update quote</button>
    <a class="btn btn-primary calculationSubmitButton marginAuto" asp-page="../Details" asp-route-id="@Model.Connection.JobId">back to list</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
