@page
@model PaperCalc.Pages.Coatings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Coatings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Coatings.Name" class="control-label"></label>
                <input asp-for="Coatings.Name" class="form-control" />
                <span asp-validation-for="Coatings.Name" class="text-danger"></span>

                <label>Assign Paper</label>
                <select asp-for="Coatings.guids" id="multiple-checkboxes" class="width300" multiple="multiple">
                    <option value="">Select Papers...</option>
                    @{ 
                        foreach(PaperCalc.Models.Paper p in Model.papers)
                        {
                            <option value="@p.Id">@p.Company @p.Brand @p.Type @p.Weight<span>gsm</span> @p.Size </option>
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
