@page
@model PaperCalc.Pages.FlatStock.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="stockDeletePage">
    <h1 class="stockTitle">Delete</h1>

    <h3 class="areUSure">Are you sure you want to delete this?</h3>

    <h4>Flat Stock</h4>

    <hr />
    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.Company)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.Company)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.ProductName)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.ProductName)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.Size)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.Size)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.Weight)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.Weight)<span>gsm</span>
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.CoatType)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.CoatType)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.PackCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.PackCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.PackCostGstIncluded)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.PackCostGstIncluded)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.SheetsPerPack)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.SheetsPerPack)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.FlatStock.SheetCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.FlatStock.SheetCost)
            </h2>
        </div>
    </div>

    <form class="deleteForm" method="post">
        <input type="hidden" asp-for="FlatStock.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">back to list</a>
    </form>
</div>

