@page
@model PaperCalc.Pages.Variable.Paper.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].Gsm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].SizeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].PackQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].PackCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paper[0].SheetCost)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paper) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gsm)
            </td>
            <td>
                @foreach (var size in Model.Size)
                {
                    if (size.Id == item.SizeId)
                    {
                        @Html.DisplayFor(modelItem => size.Name)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SheetCost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
