@page
@model PaperCalc.Pages.Stock.LaminationStock.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<h1 class="stockTitle">Details</h1>

<div class="stockDetails">
    <h4>Lamination Stock</h4>
    <hr />
    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.Company)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.Company)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.ProductName)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.ProductName)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.Width)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.Width)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.Weight)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.Weight)<span>gsm</span>
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.CoatType)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.CoatType)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.RollCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.RollCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.RollCostGstIncluded)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.RollCostGstIncluded)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.RollsLength)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.RollsLength)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.PricePerMeter)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.PricePerMeter)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.PriceA0)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.PriceA0)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.PriceA1)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.PriceA1)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.LaminationStock.PriceA2)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.LaminationStock.PriceA2)
            </h2>
        </div>
    </div>
</div>
<div class="stockDetailsButtons">
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.LaminationStock?.Id">edit</a>
    <a class="btn btn-primary" asp-page="./Index">back to stock</a>
</div>