@page
@model PaperCalc.Pages.AspeosStock.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="stockTitle">Details</h1>

<div class="stockDetails">
    <h4>SRA3 Stock</h4>
    <hr />
    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.Company)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.Company)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.ProductName)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.ProductName)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.Size)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.Size)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.Weight)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.Weight)<span>gsm</span>
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.CoatType)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.CoatType)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.PackCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.PackCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.PackCostGstIncluded)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.PackCostGstIncluded)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.SheetsPerPack)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.SheetsPerPack)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.AspeosStock.SheetCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.AspeosStock.SheetCost)
            </h2>
        </div>
    </div>
</div>
<div class="stockDetailsButtons">
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.AspeosStock?.Id">edit</a>
    <a class="btn btn-primary" asp-page="./Index">back to stock</a>
</div>
