@page
@model PaperCalc.Pages.Variable.Clicks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clicks[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clicks[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clicks[0].ColourId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clicks[0].SizeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clicks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @foreach (var colour in Model.Colours)
                {
                    if (colour.Id == item.ColourId)
                    {
                        @Html.DisplayFor(modelItem => colour.Name)
                    }
                }
            </td>
            <td>
                @foreach (var size in Model.Sizes)
                {
                    if (size.Id == item.SizeId)
                    {
                        @Html.DisplayFor(modelItem => size.Name)
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
