@page
@model IndexModel
@{

}
<script>
    function filterStock() {
        console.log("herhe");
        var selected = document.getElementById("coatSelect").value;
        var options = document.getElementById("stockSelect").options;
        for (var i = 0; i < options.length; i++) {
            if (options[i].className != selected && selected != "") {
                options[i].style.display = "none";
            } else {
                options[i].style.display = "block";
            }
        }
    }
</script>
<form method="post" class="calculationForm">
    <h4 class="calculationTitle">SRA3</h4>
    <!-- Job Details-->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>job details</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>job title<span class="requiredStar">*</span></label>
                <input placeholder="job title" asp-for="Quote.JobTitle" type="text" />
            </div>
            <div class="inputForRow">
                <label>client name<span class="requiredStar">*</span></label>
                <input placeholder="client name" asp-for="Quote.ClientName" type="text" />
            </div>
            <div class="inputForRow">
                <label>business name</label>
                <input placeholder="business name" asp-for="Quote.BuissnessName" type="text" />
            </div>
        </div>
    </div>

    <!-- Paper -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>paper</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>flat size<span class="requiredStar">*</span></label>
                <select id="FlatSizeSelect" class="custom-select" asp-for="AspeosCalculation.FlatSizeId">
                    <option class="defaultOption" value="">select a size...</option>
                    @{
                        foreach (PaperCalc.Models.FlatSize fs in Model.FlatSizes)
                        {
                            <option value="@fs.Id">@fs.Name</option>
                        }
                    }
                    <option class="defaultOption" value="custom">Custom</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>coating<span class="requiredStar">*</span></label>
                <select onchange="filterStock()" id="coatSelect" class="custom-select" asp-for="AspeosCalculation.CoatType">
                    <option class="defaultOption" value="">select a coating...</option>
                    <option value="Uncoated">Uncoated</option>
                    <option value="Coated">Coated</option>
                    <option value="Adhesive">Adhesive</option>
                    <option value="Synthetic">Synthetic</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>stock<span class="requiredStar">*</span></label>
                <select id="stockSelect" class="custom-select" asp-for="AspeosCalculation.SheetPrice">
                    <option class="defaultOption" value="">select stock...</option>
                    @{
                        foreach (PaperCalc.Models.AspeosStock item in Model.Paper)
                        {
                            <option class="@item.CoatType" value="@item.SheetCost">@item.Weight<span>gsm</span> @item.Company @item.ProductName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div id="hiddenSizeInputs" class="inputsForRow hidden">
            <input asp-for="AspeosCalculation.CustomSize" value="false" type="hidden" />
            <div class="inputForRow">
                <label>Width<span class="requiredStar">*</span></label>
                <input placeholder="0" asp-for="AspeosCalculation.Width" type="text" />
            </div>
            <div class="inputForRow">
                <label>Height<span class="requiredStar">*</span></label>
                <input placeholder="0" asp-for="AspeosCalculation.Height" type="text" />
            </div>
            <div class="inputForRow">
            </div>
        </div>
    </div>

    <!-- Printing -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>printing</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>colour<span class="requiredStar">*</span></label>
                <select  class="custom-select" asp-for="AspeosCalculation.Colour">
                    <option class="defaultOption" value="">select a option...</option>
                    <option value="colour">Colour</option>
                    <option value="black">Black</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>printed sides<span class="requiredStar">*</span></label>
                <select class="custom-select" asp-for="AspeosCalculation.PrintedSides">
                    <option class="defaultOption" value="">select a option...</option>
                    <option value="single">Single Sided</option>
                    <option value="double">Double Sided</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>quantity<span class="requiredStar">*</span></label>
                <input placeholder="0" type="number" asp-for="AspeosCalculation.Quantity">
            </div>
        </div>
    </div>

    <!-- Finishing -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>finishing</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>folds</label>
                <select class="custom-select" asp-for="AspeosCalculation.Folds">
                    <option value="0">none</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>cresaing</label>
                <select class="custom-select" asp-for="AspeosCalculation.Creasing">
                    <option value="0">none</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="inputForRow">
                <label>hole punches</label>
                <select class="custom-select" asp-for="AspeosCalculation.NumOfHolePunches">
                    <option value="0">none</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="checkboxesForRow">
            <label class="checkbox">
                trimming
                <input asp-for="AspeosCalculation.Trimming" type="checkbox" value="true"/>
                <span class="checkmark"></span>
            </label>
            <label class="checkbox">
                lammination
                <input asp-for="AspeosCalculation.Lamination" type="checkbox" value="true"/>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <!-- Additional Costs -->
    <div class="inputRow inputRowWithBorder">
        <div class="inputRowTitle">
            <h3>additional costs</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>design</label>
                <input placeholder="$00.00" asp-for="Quote.DesignCost" type="number" />
            </div>
            <div class="inputForRow">
                <label>file handling</label>
                <input type="number" placeholder="$00.00" asp-for="AspeosCalculation.FileHandlingFee">
            </div>
            <div class="inputForRow">
                <label>setup</label>
                <input  placeholder="$00.00" asp-for="Quote.SetupCost" type="number" />
            </div>
        </div>
        <div class="checkboxesForRow">
            <label class="checkbox">
                small job
                <input asp-for="AspeosCalculation.SmallJob" type="checkbox" value="true" />
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <!-- Delivery & Turnaround -->
    <div class="inputRow">
        <div class="inputRowTitle">
            <h3>delivery & turnaround</h3>
        </div>
        <div class="inputsForRow">
            <div class="inputForRow">
                <label>address</label>
                <input placeholder="address" asp-for="Quote.Address" type="text" />
            </div>
            <div class="inputForRow">
                <label>cost</label>
                <input  placeholder="$00.00" asp-for="Quote.DeliveryCost" type="number" />
            </div>
            <div class="inputForRow">
                <label>turnaround </label>
                <div class="inputWithCheckbox">
                    <input class="turnaroundInput" asp-for="Quote.Turnaround" type="number" />
                    <input asp-for="AspeosCalculation.Urgent" class="checkboxWithinInput" type="checkbox" value="true" />
                    <label class="labelWithinInput">urgent job</label>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-success calculationSubmitButton">generate quote</button>

</form>

@{ if (Model.AspeosCalculation.JobCost > 0)
    {
        <div id="calculationPost">

            <dl id="calculationTotals">

                <dt>Job Cost:</dt>
                <dd>@Html.DisplayFor(model => Model.AspeosCalculation.JobCost)</dd>

                <dt>GST:</dt>
                <dd>@Html.DisplayFor(model => Model.AspeosCalculation.GST)</dd>

                <dt>Job Cost (GST Inc):</dt>
                <dd>@Html.DisplayFor(model => Model.AspeosCalculation.JobCostGstInc)</dd>
            </dl>

            <div>
                <a class="btn btn-primary" id="showCalculationsButton" data-toggle="collapse" href="#CalculationValues" role="button" aria-expanded="false" aria-controls="CalculationValues">Show Calculation Values</a>
                <button class="btn btn-primary" onclick="generate()">Generate document</button>
            </div>

        </div>
    }
}

<div id="CalculationValues" class="collapse">
    <table>
        <tr>
            <th>PER SRA</th>
            <th>Base Click Rate</th>
            <th>Click Side Multiplier</th>
            <th>Click Size Multiplier</th>
            <th>Click Rate</th>
            <th>Sheet Price</th>
            <th>Cuts</th>
            <th>Hole Punch</th>
            <th>Lamination</th>
            <th>Creasing</th>
            <th>Folding</th>
        </tr>
        <tr>
            <td>@Model.AspeosCalculation.PerSRA</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.BaseClickRate)</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.ClickSideMultiplier)</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.ClickSizeMultiplier)</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.ClickRate)</td>
            <td id="SheetPrice">@Html.DisplayFor(model => Model.AspeosCalculation.SheetPrice)</td>
            <td>@Model.AspeosCalculation.Cuts</td>
            <td>@Model.AspeosCalculation.HolePunches</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.LaminationCost)</td>
            <td>@Model.AspeosCalculation.CreasingRate</td>
            <td>@Model.AspeosCalculation.FoldingRate</td>
        </tr>
        <tr>
            <th>Paper Cost</th>
            <th>Buffer</th>
            <th>Finishings</th>
            <th>Multiplier</th>
            <th>Minimum</th>
            <th>File Handling</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.PaperCost)</td>
            <td>@Model.AspeosCalculation.Buffer</td>
            <td>@Html.DisplayFor(model => Model.AspeosCalculation.FinishingsCost)</td>
            <td>@Model.AspeosCalculation.Multiplier</td>
            <td>@Model.AspeosCalculation.Minimum</td>
            <td>@Model.AspeosCalculation.FileHandlingCost</td>
        </tr>
        <tr>
            <th>Job Cost</th>
            <th>GST</th>
            <th>Cost + GST</th>
        </tr>
        <tr>
            <td id="JobCost">@Html.DisplayFor(model => Model.AspeosCalculation.JobCost)</td>
            <td id="GST">@Html.DisplayFor(model => Model.AspeosCalculation.GST)</td>
            <td id="JobCostGstInc">@Html.DisplayFor(model => Model.AspeosCalculation.JobCostGstInc)</td>
        </tr>
    </table>
</div>


<script>
    function calculationValuesDisplay() {
        let button = document.getElementById("showCalculationsButton");
        let table = document.getElementById("CalculationValues");

        if (button.innerText == "Show Calculation Values") {
            table.classList.remove("hidden");
            button.innerText = "Hide Calculation Values";
        } else if (button.innerText == "Hide Calculation Values") {
            table.classList.add("hidden");
            button.innerText = "Show Calculation Values";
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.37.13/docxtemplater.js"></script>
<script src="https://unpkg.com/pizzip@3.1.4/dist/pizzip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<script src="https://unpkg.com/pizzip@3.1.4/dist/pizzip-utils.js"></script>
<script>

    const TemplateUrl = window.location.href + "CreateTemplate.docx";

    function getDateString() {
        const now = new Date();
        return (now.getDate() < 10 ? "0" + now.getDate() : now.getDate()) + "/" + ((now.getMonth() + 1) < 10 ? "0" + (now.getMonth() + 1) : (now.getMonth() + 1)) + "/" + now.getFullYear();
    }
    function loadFile(url, callback) {
        PizZipUtils.getBinaryContent(url, callback);
    }
    function getExtras() {
        let foldsNum = document.getElementById("AspeosCalculation_Folds").value > 0 ? "Folding, " : "";
        let creasingNum = document.getElementById("AspeosCalculation_Creasing").value > 0 ? "Creasing, " : "";
        let trimmingBool = document.getElementById("AspeosCalculation_Trimming").checked ? "Trimming, " : "";
        let holePunchBool = document.getElementById("AspeosCalculation_HolePunch").checked ? "Hole Punch, " : "";
        let laminationBool = document.getElementById("AspeosCalculation_Lamination").checked ? "Lamination, " : "";
        let smallJobBool = document.getElementById("AspeosCalculation_SmallJob").checked ? "Small Job, " : "";
        let urgentBool = document.getElementById("AspeosCalculation_Urgent").checked ? "Urgency, " : "";
        let fileHandlingBool = document.getElementById("AspeosCalculation_FileHandling").checked ? "File Handling, " : "";

        let strings = [foldsNum, creasingNum, trimmingBool, holePunchBool, laminationBool, smallJobBool, urgentBool, fileHandlingBool];

        let extrasString = " ";
        for (let i = 0; i < strings.length; i++) {
            console.log("wtf")
            extrasString = extrasString + strings[i];
        }
        return extrasString.slice(0, extrasString.length - 2);

    }
    function getPrinted() {
        var sides = document.getElementById("AspeosCalculation_PrintedSides").value == "single" ? "Single Sided - " : "Double Sided - ";
        var colour = document.getElementById("AspeosCalculation_Colour").value == "colour" ? "Colour" : "Black and White";
        return sides + colour;
    }

    if (document.getElementById("FlatSizeSelect").value == "custom") {
        document.getElementById('hiddenSizeInputs').classList.remove("hidden");
        document.getElementById("AspeosCalculation_CustomSize").value = true;
    }

    document.getElementById("FlatSizeSelect").addEventListener("change", function (e) {
        if (e.target.value == "custom") {
            document.getElementById('hiddenSizeInputs').classList.remove("hidden");
            document.getElementById("AspeosCalculation_CustomSize").value = true;
        } else if (e.target.value != "custom" && !document.getElementById('hiddenSizeInputs').classList.contains("hidden")) {
            document.getElementById('hiddenSizeInputs').classList.add("hidden");
            document.getElementById("AspeosCalculation_CustomSize").value = false;
        }
    });

    window.generate = function generate() {
        loadFile(
            TemplateUrl,
            function (error, content) {
                if (error) {
                    throw error;
                }
                const zip = new PizZip(content);
                const doc = new window.docxtemplater(zip, {
                    paragraphLoop: true,
                    linebreaks: true,
                });

                // Render the document (Replace {first_name} by John, {last_name} by Doe, ...)
                doc.render({
                    date: getDateString(),
                    stock: document.getElementById("AspeosCalculation_CoatingId").options[document.getElementById("AspeosCalculation_CoatingId").selectedIndex].text,
                    printed: getPrinted(),
                    coating: "",
                    extras: getExtras(),
                    size: document.getElementById("AspeosCalculation_FlatSizeId").options[document.getElementById("AspeosCalculation_FlatSizeId").selectedIndex].text,
                    quantity: document.getElementById("AspeosCalculation_Quantity").value,
                    unitPrice: document.getElementById("SheetPrice").innerText,
                    subtotal: document.getElementById("JobCost").innerText,
                    gst: document.getElementById("GST").innerText,
                    total: document.getElementById("JobCostGstInc").innerText,
                });

                const blob = doc.getZip().generate({
                    type: "blob",
                    mimeType:
                        "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    // compression: DEFLATE adds a compression step.
                    // For a 50MB output document, expect 500ms additional CPU time
                    compression: "DEFLATE",
                });
                // Output the document using Data-URI
                saveAs(blob, "output.docx");
            }
        );
    };



</script>
