@page
@model PaperCalc.Pages.Settings.IndexModel
@{
}
<div class="settingsPage">

    <h1 class="calculationTitle">Settings</h1>

    <!-- Bootstrap tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <!-- General Values -->
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Values</button>
        </li>

        <!-- Labour -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="labour-tab" data-bs-toggle="tab" data-bs-target="#labour" type="button" role="tab" aria-controls="labour" aria-selected="false">Labour</button>
        </li>

        <!-- FlatSizes -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="flatsize-tab" data-bs-toggle="tab" data-bs-target="#flatsize" type="button" role="tab" aria-controls="flatsize" aria-selected="false">Flat Sizes</button>
        </li>

        <!-- Users -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="userTab-tab" data-bs-toggle="tab" data-bs-target="#userTab" type="button" role="tab" aria-controls="userTab" aria-selected="false">Users</button>
        </li>

    </ul>
    <!-- Tabs -->
    <div class="tab-content" id="myTabContent">

        <!-- Values Tab Start -->
        <div class="tab-pane fade show active settingsStockForm" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="post" asp-page-handler="SaveSettings">
                <input asp-for="Settings.HourlyRate" class="form-control" type="hidden" />
                <input asp-for="Settings.ManualCuts" class="form-control" type="hidden" />
                <input asp-for="Settings.GuillotineCuts" class="form-control" type="hidden" />
                <input asp-for="Settings.ManualDrills" class="form-control" type="hidden" />
                <input asp-for="Settings.Creases" class="form-control" type="hidden" />
                <input asp-for="Settings.Folds" class="form-control" type="hidden" />
                <input asp-for="Settings.BindingPunch" class="form-control" type="hidden" />
                <input asp-for="Settings.Tape" class="form-control" type="hidden" />

                <div class="editRowTitle">
                    <h3>General</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.MinimumJobCost"></label>
                        <input asp-for="Settings.MinimumJobCost" class="form-control" />
                        <span asp-validation-for="Settings.MinimumJobCost" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Gst"></label>
                        <input asp-for="Settings.Gst" class="form-control" />
                        <span asp-validation-for="Settings.Gst" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.KindsMultiplier"></label>
                        <input asp-for="Settings.KindsMultiplier" class="form-control" />
                        <span asp-validation-for="Settings.KindsMultiplier" class="text-danger"></span>
                    </div>
                </div>
                <div class="editRowTitle">
                    <h3>Click Rates</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.A4BlackClick"></label>
                        <input asp-for="Settings.A4BlackClick" class="form-control" />
                        <span asp-validation-for="Settings.A4BlackClick" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.A4ColourClick"></label>
                        <input asp-for="Settings.A4ColourClick" class="form-control" />
                        <span asp-validation-for="Settings.A4ColourClick" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Sra3 Buffer</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Sra3BufferDecider"></label>
                        <input asp-for="Settings.Sra3BufferDecider" class="form-control" />
                        <span asp-validation-for="Settings.Sra3BufferDecider" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Sra3Buffer"></label>
                        <input asp-for="Settings.Sra3Buffer" class="form-control" />
                        <span asp-validation-for="Settings.Sra3Buffer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Sra3BufferHigh"></label>
                        <input asp-for="Settings.Sra3BufferHigh" class="form-control" />
                        <span asp-validation-for="Settings.Sra3BufferHigh" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Documents Buffer</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.DocumentsBufferDecider"></label>
                        <input asp-for="Settings.DocumentsBufferDecider" class="form-control" />
                        <span asp-validation-for="Settings.DocumentsBufferDecider" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.DocumentsBuffer"></label>
                        <input asp-for="Settings.DocumentsBuffer" class="form-control" />
                        <span asp-validation-for="Settings.DocumentsBuffer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.DocumentsBufferHigh"></label>
                        <input asp-for="Settings.DocumentsBufferHigh" class="form-control" />
                        <span asp-validation-for="Settings.DocumentsBufferHigh" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Booklets Buffer</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BookletsBufferDecider"></label>
                        <input asp-for="Settings.BookletsBufferDecider" class="form-control" />
                        <span asp-validation-for="Settings.BookletsBufferDecider" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BookletsBuffer"></label>
                        <input asp-for="Settings.BookletsBuffer" class="form-control" />
                        <span asp-validation-for="Settings.BookletsBuffer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BookletsBufferHigh"></label>
                        <input asp-for="Settings.BookletsBufferHigh" class="form-control" />
                        <span asp-validation-for="Settings.BookletsBufferHigh" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Wide Format Buffer</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.WideFormatBufferDecider"></label>
                        <input asp-for="Settings.WideFormatBufferDecider" class="form-control" />
                        <span asp-validation-for="Settings.WideFormatBufferDecider" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.WideFormatBuffer"></label>
                        <input asp-for="Settings.WideFormatBuffer" class="form-control" />
                        <span asp-validation-for="Settings.WideFormatBuffer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.WideFormatBufferHigh"></label>
                        <input asp-for="Settings.WideFormatBufferHigh" class="form-control" />
                        <span asp-validation-for="Settings.WideFormatBufferHigh" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Wide Format Ink</h3>
                </div>
                <div class="editFormRow">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.InkCostPerYear"></label>
                        <input oninput="calculateInk()" asp-for="Settings.InkCostPerYear" class="form-control" />
                        <span asp-validation-for="Settings.InkCostPerYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.InkA0PerYear"></label>
                        <input oninput="calculateInk()" asp-for="Settings.InkA0PerYear" class="form-control" />
                        <span asp-validation-for="Settings.InkA0PerYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.InkCoveragePerMeter"></label>
                        <input id="inkInput" value="" class="form-control" disabled />
                        <span asp-validation-for="Settings.InkCoveragePerMeter" class="text-danger"></span>
                        <script>
                            calculateInk()
                            function calculateInk() {
                                var costPerYear = document.getElementById("Settings_InkCostPerYear").value;
                                var a0PerYear = document.getElementById("Settings_InkA0PerYear").value;

                                let inkCoverage = costPerYear / (a0PerYear * 1189 / 1000)

                                document.getElementById("inkInput").value = Math.round(inkCoverage * 100) / 100;
                            }
                        </script>
                    </div>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.InkPercentBW"></label>
                        <input asp-for="Settings.InkPercentBW" class="form-control" />
                        <span asp-validation-for="Settings.InkPercentBW" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group settingsSubmit">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- Values Tab End -->
        <!-- Labour Tab Start -->
        <div class="tab-pane fade settingsStockForm" id="labour" role="tabpanel" aria-labelledby="labour-tab">
            <form method="post" asp-page-handler="SaveLabourSettings">
                <input asp-for="Settings.InkPercentBW" class="form-control" type="hidden" />
                <input asp-for="Settings.InkA0PerYear" class="form-control" type="hidden" />
                <input asp-for="Settings.InkCostPerYear" class="form-control" type="hidden" />
                <input asp-for="Settings.WideFormatBufferHigh" class="form-control" type="hidden" />
                <input asp-for="Settings.WideFormatBuffer" class="form-control" type="hidden" />
                <input asp-for="Settings.WideFormatBufferDecider" class="form-control" type="hidden" />
                <input asp-for="Settings.BookletsBufferDecider" class="form-control" type="hidden" />
                <input asp-for="Settings.BookletsBuffer" class="form-control" type="hidden" />
                <input asp-for="Settings.BookletsBufferHigh" class="form-control" type="hidden" />
                <input asp-for="Settings.Sra3BufferDecider" class="form-control" type="hidden" />
                <input asp-for="Settings.Sra3Buffer" class="form-control" type="hidden" />
                <input asp-for="Settings.Sra3BufferHigh" class="form-control" type="hidden" />
                <input asp-for="Settings.DocumentsBufferDecider" class="form-control" type="hidden" />
                <input asp-for="Settings.DocumentsBuffer" class="form-control" type="hidden" />
                <input asp-for="Settings.DocumentsBufferHigh" class="form-control" type="hidden" />
                <input asp-for="Settings.MinimumJobCost" class="form-control" type="hidden" />
                <input asp-for="Settings.Gst" class="form-control" type="hidden" />
                <input asp-for="Settings.KindsMultiplier" class="form-control" type="hidden" />
                <input asp-for="Settings.A4BlackClick" class="form-control" type="hidden" />
                <input asp-for="Settings.A4ColourClick" class="form-control" type="hidden" />


                <div class="editRowTitle">
                    <h3>Labour</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.HourlyRate"></label>
                        <input asp-for="Settings.HourlyRate" class="form-control" />
                        <span asp-validation-for="Settings.HourlyRate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Manual Cuts</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualCuts"></label>
                        <input asp-for="Settings.ManualCuts" class="form-control" />
                        <span asp-validation-for="Settings.ManualCuts" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualCutsCostPA"></label>
                        <input asp-for="Settings.ManualCutsCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.ManualCutsCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualCutsChargePA"></label>
                        <input asp-for="Settings.ManualCutsChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.ManualCutsChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Guillotine Cuts</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.GuillotineCuts"></label>
                        <input asp-for="Settings.GuillotineCuts" class="form-control" />
                        <span asp-validation-for="Settings.GuillotineCuts" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.GuillotineCostPA"></label>
                        <input asp-for="Settings.GuillotineCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.GuillotineCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.GuillotineChargePA"></label>
                        <input asp-for="Settings.GuillotineChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.GuillotineChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Manual Drills</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualDrills"></label>
                        <input asp-for="Settings.ManualDrills" class="form-control" />
                        <span asp-validation-for="Settings.ManualDrills" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualDrillsCostPA"></label>
                        <input asp-for="Settings.ManualDrillsCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.ManualDrillsCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.ManualDrillsChargePA"></label>
                        <input asp-for="Settings.ManualDrillsChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.ManualDrillsChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Creases</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Creases"></label>
                        <input asp-for="Settings.Creases" class="form-control" />
                        <span asp-validation-for="Settings.Creases" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.CreasesCostPA"></label>
                        <input asp-for="Settings.CreasesCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.CreasesCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.CreasesChargePA"></label>
                        <input asp-for="Settings.CreasesChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.CreasesChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Folds</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Folds"></label>
                        <input asp-for="Settings.Folds" class="form-control" />
                        <span asp-validation-for="Settings.Folds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.FoldsCostPA"></label>
                        <input asp-for="Settings.FoldsCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.FoldsCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.FoldsChargePA"></label>
                        <input asp-for="Settings.FoldsChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.FoldsChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Binding Punch</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BindingPunch"></label>
                        <input asp-for="Settings.BindingPunch" class="form-control" />
                        <span asp-validation-for="Settings.BindingPunch" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BindingPunchCostPA"></label>
                        <input asp-for="Settings.BindingPunchCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.BindingPunchCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.BindingPunchChargePA"></label>
                        <input asp-for="Settings.BindingPunchChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.BindingPunchChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="editRowTitle">
                    <h3>Double Sided Tape (m)</h3>
                </div>
                <div class="editFormRow borderBottom">
                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.Tape"></label>
                        <input asp-for="Settings.Tape" class="form-control" />
                        <span asp-validation-for="Settings.Tape" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.TapeCostPA"></label>
                        <input asp-for="Settings.TapeCostPA" class="form-control" disabled />
                        <span asp-validation-for="Settings.TapeCostPA" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" asp-for="Settings.TapeChargePA"></label>
                        <input asp-for="Settings.TapeChargePA" class="form-control" disabled />
                        <span asp-validation-for="Settings.TapeChargePA" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group settingsSubmit">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

    </div>
        <!-- Labour Tab End -->
        <!-- FlatSizes Tab Start -->
        <div class="tab-pane fade" id="flatsize" role="tabpanel" aria-labelledby="flatsize-tab">
            <ul class="nav nav-tabs" id="flatsizeTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="aspeos-tab" data-bs-toggle="tab" data-bs-target="#aspeos" type="button" role="tab" aria-controls="aspeos" aria-selected="true">SRA3</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="flat-tab" data-bs-toggle="tab" data-bs-target="#flat" type="button" role="tab" aria-controls="flat" aria-selected="false">Flat</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="booklet-tab" data-bs-toggle="tab" data-bs-target="#booklet" type="button" role="tab" aria-controls="booklet" aria-selected="false">Booklet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="wide-tab" data-bs-toggle="tab" data-bs-target="#wide" type="button" role="tab" aria-controls="wide" aria-selected="false">Wide Format</button>
                </li>
            </ul>

            <div class="tab-content" id="flatsizeTabsContent">

                <div class="tab-pane fade show active" id="aspeos" role="tabpanel" aria-labelledby="aspeos-tab">
                    <!-- Sra3 Edit -->
                    <div id="AspeosFlatsize" class="customDivTable">
                        <h3>Sra3 Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete and save</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>@Html.DisplayNameFor(model => model.FlatSizes[0].Name)</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Sra3)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Sra3 Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="0" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="flat" role="tabpanel" aria-labelledby="flat-tab">
                    <!-- Document Edit -->
                    <div class="customDivTable">
                        <h3>Document Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete and save</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>Name</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Document)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Document Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="1" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="booklet" role="tabpanel" aria-labelledby="booklet-tab">
                    <!-- Booklet Edit -->
                    <div class="customDivTable">
                        <h3>Booklet Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete and save</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>Name</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Booklet)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Booklet Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="2" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="wide" role="tabpanel" aria-labelledby="wide-tab">
                    <!-- Wide Format Edit -->
                    <div class="customDivTable">
                        <h3>Wide Format Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete and save</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>Name</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.WideFormat)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Wide Format Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="3" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- FlatSizes Tab End -->
        <!-- Users Tab Start -->
        <div class="tab-pane fade" id="userTab" role="tabpanel" aria-labelledby="userTab-tab">
            <div id="CreateUser">
                <h2>Create A User</h2>
                <form method="post" asp-page-handler="CreateUser">
                    <div>
                        <label asp-for="NewUser.UserName"></label>
                        <input asp-for="NewUser.UserName" />
                    </div>
                    <div>
                        <label asp-for="NewUser.Password"></label>
                        <input asp-for="NewUser.Password" />

                    </div>
                    <div>
                        <label asp-for="NewUser.Admin"></label>
                        <input type="checkbox" value="true" asp-for="NewUser.Admin" />
                    </div>
                    <span asp-validation-for="NewUser.ValidationMessage" class="text-danger">@Model.NewUser.ValidationMessage</span>
                    <div>
                        <input type="submit" value="Save" class="btn btn-primary tbButton" />
                    </div>
                </form>
            </div>
        </div>
        <!-- Users Tab End -->
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const handler = urlParams.get('handler')
    const formIds = ["AspeosFlatsize", "CreateAspeosFlatsize", "EpsonFlatsize", "CreateEpsonFlatsize"];

    function Unhide(id) {
        for (let i = 0; i < formIds.length; i++) {
            document.getElementById(formIds[i]).classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
    };

    if (handler == "CreateUser") {

        document.getElementById('home-tab').classList.remove("active")
        document.getElementById('home').classList.remove("active")
        document.getElementById('home').classList.remove("show")
        document.getElementById('userTab-tab').classList.add("active")
        document.getElementById('userTab').classList.add("active")
        document.getElementById('userTab').classList.add("show")
        
    }
</script>