@page
@model PaperCalc.Pages.Settings.IndexModel
@{
}
<h1>Settings</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Values</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="flatsize-tab" data-bs-toggle="tab" data-bs-target="#flatsize" type="button" role="tab" aria-controls="flatsize" aria-selected="false">Flat Sizes</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="userTab-tab" data-bs-toggle="tab" data-bs-target="#userTab" type="button" role="tab" aria-controls="userTab" aria-selected="false">Users</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method="post" asp-page-handler="SaveSettings">

            <div class="input-group mb-3 settingsBasicInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.MinimumJobCost"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.MinimumJobCost">
            </div>

            <div class="input-group mb-3 settingsBasicInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.FilehandlingCost"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.FilehandlingCost">
            </div>

            <div class="input-group mb-3 settingsBasicInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.SmallOrUrgentMinimum"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.SmallOrUrgentMinimum">
            </div>

            <div class="input-group mb-3 settingsSmallUrgentInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.MarginMultiplier"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.MarginMultiplier">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.MarginMultiplierSmallOrUrgent"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.MarginMultiplierSmallOrUrgent">
            </div>

            <div class="input-group mb-3 settingsSmallUrgentInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Buffer"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.Buffer">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.BufferSmallOrUrgent"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.BufferSmallOrUrgent">
            </div>

            <div class="input-group mb-3 settings3ValuesInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Creasing1"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.Creasing1">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Creasing2"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.Creasing2">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Creasing3"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.Creasing3">
            </div>

            <div class="input-group mb-3 settings3ValuesInput">
                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Folding1"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.Folding1">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Folding2"></label>
                </div>
                <input type="number" class="form-control noInputCurve" step="any" asp-for="Settings.Folding2">

                <div class="input-group-prepend">
                    <label class="input-group-text" id="basic-addon1" asp-for="Settings.Folding3"></label>
                </div>
                <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.Folding3">
            </div>

            <div class="form-group settingsSubmit">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="flatsize" role="tabpanel" aria-labelledby="flatsize-tab">
        <div class="mt-3">
            <h2>Flat Sizes</h2>
            
            <div>
                <!-- Aspeos Edit -->

                <div id="AspeosFlatsize" class="customDivTable">
                    <h3>Aspeos Flat Sizes</h3>
                    <p>To delete a flatsize, set name to delete</p>
                    <div class="customDivTableHead">
                        <div>
                            <h5>@Html.DisplayNameFor(model => model.AspeosFlatSizes[0].Name)</h5>
                        </div>
                        <div>
                            <h5>@Html.DisplayNameFor(model => model.AspeosFlatSizes[0].PiecesPerSRA3)</h5>
                        </div>
                        <div>
                            <h5>@Html.DisplayNameFor(model => model.AspeosFlatSizes[0].CutsPerSRA3)</h5>
                        </div>
                        <div>
                            <h5>@Html.DisplayNameFor(model => model.AspeosFlatSizes[0].LaminationCost)</h5>
                        </div>
                        <div>
                        </div>
                    </div>

                    <div class="customDivTableBody">
                        @for (int i = 0; i < Model.AspeosFlatSizes.Count; i++)
                        {

                            <form method="post" asp-page-handler="AspeosEdit">
                                <input asp-for="AspeosFlatSize.Id" value="@Model.AspeosFlatSizes[i].Id" type="hidden" />
                                <div>
                                    <input asp-for="AspeosFlatSize.Name" value="@Model.AspeosFlatSizes[i].Name" />
                                </div>
                                <div>
                                    <input asp-for="AspeosFlatSize.PiecesPerSRA3" value="@Model.AspeosFlatSizes[i].PiecesPerSRA3" />
                                </div>
                                <div>
                                    <input asp-for="AspeosFlatSize.CutsPerSRA3" value="@Model.AspeosFlatSizes[i].CutsPerSRA3" />
                                </div>
                                <div>
                                    <input asp-for="AspeosFlatSize.LaminationCost" value="@Model.AspeosFlatSizes[i].LaminationCost" />
                                </div>
                                <div>
                                    <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                </div>
                            </form>
                        }
                    </div>
                </div>



                <!-- Aspeos Create -->
                <form method="post" id="CreateAspeosFlatsize" asp-page-handler="AspeosCreate">
                    <h3>Add Aspeos Flat Size</h3>
                    <input type="hidden" asp-for="AspeosFlatSize.Id" />

                    <div class="form-group">
                        <label asp-for="AspeosFlatSize.Name" class="control-label"></label>
                        <input asp-for="AspeosFlatSize.Name" class="form-control" />
                        <span asp-validation-for="AspeosFlatSize.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AspeosFlatSize.PiecesPerSRA3" class="control-label"></label>
                        <input asp-for="AspeosFlatSize.PiecesPerSRA3" class="form-control" />
                        <span asp-validation-for="AspeosFlatSize.PiecesPerSRA3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AspeosFlatSize.CutsPerSRA3" class="control-label"></label>
                        <input asp-for="AspeosFlatSize.CutsPerSRA3" class="form-control" />
                        <span asp-validation-for="AspeosFlatSize.CutsPerSRA3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AspeosFlatSize.LaminationCost" class="control-label"></label>
                        <input asp-for="AspeosFlatSize.LaminationCost" class="form-control" />
                        <span asp-validation-for="AspeosFlatSize.LaminationCost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>

                <!-- Epson Edit -->
                <form method="post" id="EpsonFlatsize" asp-page-handler="EpsonEdit">
                    <h1 class="RedText">Not Functional Yet</h1>
                    <label>Epson Edit</label>
                    <input type="number" />
                </form>

                <!-- Epson Create -->
                <form method="post" id="CreateEpsonFlatsize" class="" asp-page-handler="EpsonCreate">
                    <h1 class="RedText">Not Functional Yet</h1>
                    <label>Epson Create</label>
                    <input type="number" />
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="userTab" role="tabpanel" aria-labelledby="userTab-tab">
        <div id="CreateUser">
            <h2>Create A User</h2>
            <form method="post" asp-page-handler="CreateUser">
                <div>
                    <label asp-for="NewUser.UserName"></label>
                    <input asp-for="NewUser.UserName" />
                </div>
                <div>
                    <label asp-for="NewUser.Password"></label>
                    <input asp-for="NewUser.Password" />

                </div>
                <div>
                    <label asp-for="NewUser.Admin"></label>
                    <input type="checkbox" value="true" asp-for="NewUser.Admin" />
                </div>
                <span asp-validation-for="NewUser.ValidationMessage" class="text-danger">@Model.NewUser.ValidationMessage</span>
                <div>
                    <input type="submit" value="Save" class="btn btn-primary tbButton" />
                </div>
            </form>
        </div>
    </div>
</div>












<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const handler = urlParams.get('handler')



    const formIds = ["AspeosFlatsize", "CreateAspeosFlatsize", "EpsonFlatsize", "CreateEpsonFlatsize"];

    function Unhide(id) {
        for (let i = 0; i < formIds.length; i++) {
            document.getElementById(formIds[i]).classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
    };

    if (handler == "CreateUser") {

        document.getElementById('home-tab').classList.remove("active")
        document.getElementById('home').classList.remove("active")
        document.getElementById('home').classList.remove("show")
        document.getElementById('userTab-tab').classList.add("active")
        document.getElementById('userTab').classList.add("active")
        document.getElementById('userTab').classList.add("show")
        
    }
</script>