@page
@model PaperCalc.Pages.Settings.IndexModel
@{
}
<div class="settingsPage">

    <h1 class="calculationTitle">Settings</h1>

    <!-- Bootstrap tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Values</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="flatsize-tab" data-bs-toggle="tab" data-bs-target="#flatsize" type="button" role="tab" aria-controls="flatsize" aria-selected="false">Flat Sizes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="userTab-tab" data-bs-toggle="tab" data-bs-target="#userTab" type="button" role="tab" aria-controls="userTab" aria-selected="false">Users</button>
        </li>
    </ul>
    <!-- Tabs -->
    <div class="tab-content" id="myTabContent">
        <!-- Values Tab -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="post" asp-page-handler="SaveSettings">

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.MinimumJobCost"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.MinimumJobCost">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.KindsMultiplier"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.KindsMultiplier">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.Gst"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.Gst">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.Buffer"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.Buffer">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.BufferHigh"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.BufferHigh">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.CreasingBase"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.CreasingBase">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.FoldingBase"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.FoldingBase">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.StaplingBase"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.StaplingBase">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.HolePunchingBase"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.HolePunchingBase">
                </div>

                <div class="input-group mb-3 settingsBasicInput">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="basic-addon1" asp-for="Settings.ClickRateBase"></label>
                    </div>
                    <input type="number" class="form-control inputCurve" step="any" asp-for="Settings.ClickRateBase">
                </div>

                <div class="form-group settingsSubmit">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <!-- FlatSizes Tab -->
        <div class="tab-pane fade" id="flatsize" role="tabpanel" aria-labelledby="flatsize-tab">
            <ul class="nav nav-tabs" id="flatsizeTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="aspeos-tab" data-bs-toggle="tab" data-bs-target="#aspeos" type="button" role="tab" aria-controls="aspeos" aria-selected="true">SRA3</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="flat-tab" data-bs-toggle="tab" data-bs-target="#flat" type="button" role="tab" aria-controls="flat" aria-selected="false">Flat</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="booklet-tab" data-bs-toggle="tab" data-bs-target="#booklet" type="button" role="tab" aria-controls="booklet" aria-selected="false">Booklet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="wide-tab" data-bs-toggle="tab" data-bs-target="#wide" type="button" role="tab" aria-controls="wide" aria-selected="false">Wide Format</button>
                </li>
            </ul>

            <div class="tab-content" id="flatsizeTabsContent">

                <div class="tab-pane fade show active" id="aspeos" role="tabpanel" aria-labelledby="aspeos-tab">
                    <!-- Sra3 Edit -->
                    <div id="AspeosFlatsize" class="customDivTable">
                        <h3>Sra3 Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>@Html.DisplayNameFor(model => model.FlatSizes[0].Name)</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Sra3)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Sra3 Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="0" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="flat" role="tabpanel" aria-labelledby="flat-tab">
                    <!-- Document Edit -->
                    <div class="customDivTable">
                        <h3>Document Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>Name</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Document)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Document Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="1" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="booklet" role="tabpanel" aria-labelledby="booklet-tab">
                    <!-- Booklet Edit -->
                    <div class="customDivTable">
                        <h3>Booklet Flat Sizes</h3>
                        <p>To delete a flatsize, set name to delete</p>
                        <div class="customDivTableHead">
                            <div>
                                <h5>Name</h5>
                            </div>
                            <div>
                                <h5>Height</h5>
                            </div>
                            <div>
                                <h5>Width</h5>
                            </div>
                            <div>
                                <h5>Multiplier Min</h5>
                            </div>
                            <div>
                                <h5>Multiplier Max</h5>
                            </div>
                            <div>
                                <h5>Quantity Min</h5>
                            </div>
                            <div>
                                <h5>Quantity Max</h5>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="customDivTableBody">
                            @for (int i = 0; i < Model.FlatSizes.Count; i++)
                            {
                                if (Model.FlatSizes[i].ForCalculation == Models.CalculationType.Booklet)
                                {
                                    <form method="post" asp-page-handler="FlatsizeEdit">
                                        <input asp-for="FlatSize.Id" value="@Model.FlatSizes[i].Id" type="hidden" />
                                        <input asp-for="FlatSize.ForCalculation" value="@Model.FlatSizes[i].ForCalculation" type="hidden" />
                                        <div>
                                            <input asp-for="FlatSize.Name" value="@Model.FlatSizes[i].Name" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Height" value="@Model.FlatSizes[i].Height" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.Width" value="@Model.FlatSizes[i].Width" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMin" value="@Model.FlatSizes[i].MultiplierMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.MultiplierMax" value="@Model.FlatSizes[i].MultiplierMax" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMin" value="@Model.FlatSizes[i].QuantityMin" />
                                        </div>
                                        <div>
                                            <input asp-for="FlatSize.QuantityMax" value="@Model.FlatSizes[i].QuantityMax" />
                                        </div>
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-primary tbButton" />
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </div>
                    <!-- Booklet Create -->
                    <div class="customDivTable">
                        <h3>Create</h3>
                        <div id="AspeosFlatsize" class="customDivTable">
                            <div class="customDivTableHead">
                                <div>
                                    <h5>Name</h5>
                                </div>
                                <div>
                                    <h5>Height</h5>
                                </div>
                                <div>
                                    <h5>Width</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Min</h5>
                                </div>
                                <div>
                                    <h5>Multiplier Max</h5>
                                </div>
                                <div>
                                    <h5>Quantity Min</h5>
                                </div>
                                <div>
                                    <h5>Quantity Max</h5>
                                </div>
                                <div>
                                </div>
                            </div>
                            <div class="customDivTableBody">
                                <form method="post" asp-page-handler="FlatsizeCreate">
                                    <input asp-for="FlatSize.Id" type="hidden" />
                                    <input asp-for="FlatSize.ForCalculation" value="2" type="hidden" />
                                    <div>
                                        <input asp-for="FlatSize.Name" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Height" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.Width" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.MultiplierMax" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMin" />
                                    </div>
                                    <div>
                                        <input asp-for="FlatSize.QuantityMax" />
                                    </div>
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-primary tbButton" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="wide" role="tabpanel" aria-labelledby="wide-tab">
                                    
                </div>

            </div>
        </div>
        <!-- Users Tab -->
        <div class="tab-pane fade" id="userTab" role="tabpanel" aria-labelledby="userTab-tab">
            <div id="CreateUser">
                <h2>Create A User</h2>
                <form method="post" asp-page-handler="CreateUser">
                    <div>
                        <label asp-for="NewUser.UserName"></label>
                        <input asp-for="NewUser.UserName" />
                    </div>
                    <div>
                        <label asp-for="NewUser.Password"></label>
                        <input asp-for="NewUser.Password" />

                    </div>
                    <div>
                        <label asp-for="NewUser.Admin"></label>
                        <input type="checkbox" value="true" asp-for="NewUser.Admin" />
                    </div>
                    <span asp-validation-for="NewUser.ValidationMessage" class="text-danger">@Model.NewUser.ValidationMessage</span>
                    <div>
                        <input type="submit" value="Save" class="btn btn-primary tbButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const handler = urlParams.get('handler')
    const formIds = ["AspeosFlatsize", "CreateAspeosFlatsize", "EpsonFlatsize", "CreateEpsonFlatsize"];

    function Unhide(id) {
        for (let i = 0; i < formIds.length; i++) {
            document.getElementById(formIds[i]).classList.add("hidden");
        }
        document.getElementById(id).classList.remove("hidden");
    };

    if (handler == "CreateUser") {

        document.getElementById('home-tab').classList.remove("active")
        document.getElementById('home').classList.remove("active")
        document.getElementById('home').classList.remove("show")
        document.getElementById('userTab-tab').classList.add("active")
        document.getElementById('userTab').classList.add("active")
        document.getElementById('userTab').classList.add("show")
        
    }
</script>