@page
@model PaperCalc.Pages.Jobs.Document.DetailsModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post" class="calculationForm">

    <h4 class="calculationTitle">Details</h4>


    <div class="detailsTable">
        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.ClickRate)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.ClickRate)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.SheetsUsed)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.SheetsUsed)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.TotalHeight)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.TotalHeight)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.BindingCoil.Description)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.BindingCoil.Description)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.BindingCoversCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.BindingCoversCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.BindingCoilsCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.BindingCoilsCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.BindingPunches)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.BindingPunches)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.BindingLabourCharge)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.BindingLabourCharge)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.FoldingCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.FoldingCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.HolePunchesCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.HolePunchesCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.StaplesCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.StaplesCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.PaperCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.PaperCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.ClickCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.ClickCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.MaterialCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.MaterialCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.FinishingCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.FinishingCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.Buffer)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.Buffer)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.Multiplier)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.Multiplier)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.MaterialCharge)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.MaterialCharge)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.LabourCharge)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.LabourCharge)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.TotalCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.TotalCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.FinalCharge)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.FinalCharge)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.FinalJobCost)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.FinalJobCost)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.FinalJobCostWithGST)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.FinalJobCostWithGST)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.CostPerUnit)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.CostPerUnit)
            </h2>
        </div>

        <div class="detailsTableRow">
            <h1>
                @Html.DisplayNameFor(model => model.Calculation.Description)
            </h1>
            <h2>
                @Html.DisplayFor(model => model.Calculation.Description)
            </h2>
        </div>
    </div>

        <a class="btn btn-primary calculationSubmitButton marginAuto" asp-page="../Details" asp-route-id="@Model.Connection.JobId">back to list</a>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
