@page
@model PaperCalc.Pages.Job.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.Id" />
            <div class="form-group">
                <label asp-for="Quote.JobTitle" class="control-label"></label>
                <input asp-for="Quote.JobTitle" class="form-control" />
                <span asp-validation-for="Quote.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.ClientName" class="control-label"></label>
                <input asp-for="Quote.ClientName" class="form-control" />
                <span asp-validation-for="Quote.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.BuissnessName" class="control-label"></label>
                <input asp-for="Quote.BuissnessName" class="form-control" />
                <span asp-validation-for="Quote.BuissnessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Address" class="control-label"></label>
                <input asp-for="Quote.Address" class="form-control" />
                <span asp-validation-for="Quote.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Turnaround" class="control-label"></label>
                <input asp-for="Quote.Turnaround" class="form-control" />
                <span asp-validation-for="Quote.Turnaround" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeliveryCost" class="control-label"></label>
                <input asp-for="Quote.DeliveryCost" class="form-control" />
                <span asp-validation-for="Quote.DeliveryCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DesignCost" class="control-label"></label>
                <input asp-for="Quote.DesignCost" class="form-control" />
                <span asp-validation-for="Quote.DesignCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.SetupCost" class="control-label"></label>
                <input asp-for="Quote.SetupCost" class="form-control" />
                <span asp-validation-for="Quote.SetupCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.JobTypeForDTO" class="control-label"></label>
                <select asp-for="Quote.JobTypeForDTO" class="form-control"></select>
                <span asp-validation-for="Quote.JobTypeForDTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Quantity" class="control-label"></label>
                <input asp-for="Quote.Quantity" class="form-control" />
                <span asp-validation-for="Quote.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.FlatSizeId" class="control-label"></label>
                <input asp-for="Quote.FlatSizeId" class="form-control" />
                <span asp-validation-for="Quote.FlatSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.FlatSizeHW" class="control-label"></label>
                <input asp-for="Quote.FlatSizeHW" class="form-control" />
                <span asp-validation-for="Quote.FlatSizeHW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.CoatType" class="control-label"></label>
                <input asp-for="Quote.CoatType" class="form-control" />
                <span asp-validation-for="Quote.CoatType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.CustomSize" /> @Html.DisplayNameFor(model => model.Quote.CustomSize)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Height" class="control-label"></label>
                <input asp-for="Quote.Height" class="form-control" />
                <span asp-validation-for="Quote.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Colour" class="control-label"></label>
                <input asp-for="Quote.Colour" class="form-control" />
                <span asp-validation-for="Quote.Colour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.PrintedSides" class="control-label"></label>
                <input asp-for="Quote.PrintedSides" class="form-control" />
                <span asp-validation-for="Quote.PrintedSides" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.NumOfHolePunches" class="control-label"></label>
                <input asp-for="Quote.NumOfHolePunches" class="form-control" />
                <span asp-validation-for="Quote.NumOfHolePunches" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.Trimming" /> @Html.DisplayNameFor(model => model.Quote.Trimming)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.Lamination" /> @Html.DisplayNameFor(model => model.Quote.Lamination)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.SmallJob" /> @Html.DisplayNameFor(model => model.Quote.SmallJob)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.Urgent" /> @Html.DisplayNameFor(model => model.Quote.Urgent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quote.FileHandlingFee" class="control-label"></label>
                <input asp-for="Quote.FileHandlingFee" class="form-control" />
                <span asp-validation-for="Quote.FileHandlingFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Creasing" class="control-label"></label>
                <input asp-for="Quote.Creasing" class="form-control" />
                <span asp-validation-for="Quote.Creasing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Folds" class="control-label"></label>
                <input asp-for="Quote.Folds" class="form-control" />
                <span asp-validation-for="Quote.Folds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Pages" class="control-label"></label>
                <input asp-for="Quote.Pages" class="form-control" />
                <span asp-validation-for="Quote.Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.CopyQuantity" class="control-label"></label>
                <input asp-for="Quote.CopyQuantity" class="form-control" />
                <span asp-validation-for="Quote.CopyQuantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote.Binding" /> @Html.DisplayNameFor(model => model.Quote.Binding)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
