@page
@model PaperCalc.Pages.Job.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="JobsHome">

    <h1 class="stockTitle">Jobs</h1>

    <div class="scrollableTable">
        <table class="customTable">
            <thead>
                <tr class="rowWithData">
                    <th>
                        job name 
                    </th>
                    <th>
                        buissness
                    </th>
                    <th>
                        client name
                    </th>
                    <th class="buttonTableRow"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Quote)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuissnessName)
                        </td>

                        <td class="tdForButton">
                            <span class="stockNavButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="dotsForButton noselect">...</span></span>
                            <div class="dropdown-menu stockDropDown" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item stockDropDownBorder" asp-page="./Edit" asp-route-id="@item.Id">
                                    <object class="svg" data="/Images/edit.svg" width="15" height="15"> </object>
                                    edit
                                </a>

                                <a class="dropdown-item stockDropDownBorder" asp-page="./Details" asp-route-id="@item.Id">
                                    <object class="svg" data="/Images/details.svg" width="15" height="15"> </object>
                                    details
                                </a>
                                <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">
                                    <object class="svg" data="/Images/delete.svg" width="15" height="15"> </object>
                                    delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>